{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Application{% endblock %}
{% block container %}
<div class="container">
    <h1 class="text-primary">Application Management</h1>
    <hr>
    <div class="row">
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-primary" href="{% url 'app_application_create' %}">Add new Application</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-default" href="{% url 'app_application_list' %}">Application Listing</a>
            </div>
            <div class="col-md-6">
                <form action="" method="GET">
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" id="txtSearch"/>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table">
            <tr>
                <td>ID</td>
                <td>Application Name</td>
                <td>Application Details</td>
                <td>Primary Owner</td>
                <td>Action</td>
            </tr>
            {% for object in object_list %}
            <tr>
                <td>{{object.pk}}</td>
                <td>{{ object.name }}</td>
                <td>{{ object.description }}</td>
                <td>{{ object.primary_owner }}</td>
                <td><a href="{{object.get_absolute_url}}">Edit</a> <a href="{{object.get_absolute_url}}">Disable</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}