{% extends "base.html" %}
{% load static %}
{% block container %}
<p><a class="btn btn-default" href="{% url 'app_questionnaire_list' %}">Questionnaire Listing</a></p>
<table class="table">
<tr><td>description</td><td>{{ object.description }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>order</td><td>{{ object.order }}</td></tr>
<tr><td>comment</td><td>{{ object.comment }}</td></tr>
<tr><td>Last updated_by</td><td>{{ object.last_user.user.email }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Questionnaire</a>

{% endblock %}